@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-container {
    display: flex;
}

.main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
}

/*---- Estilos note ----*/

.note-container {
    padding: 5rem;
    background-color: #E1EDF1;
}

.note-route{
    font-size: 14px;
}

.note-title {
    margin-top: 2.5rem;
    color: var(--secondary-color-text);
}

.note-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.note-subtitle h2 {
    font-weight: 600;
    color: var(--secondary-color-text);
}

.note-content {
    margin: 2.5rem auto;
    width: 31.25rem;
    padding: 3.125rem;
    background-color: var(--three-color-text);
}

.teacher-content {
    margin: 1.25rem auto;
}

.teacher-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 3.125rem;
    border-top: 1px solid black;
}

.teacher-data h3 {
    font-weight: 600;
}

.teacher-code p {
    margin: 5px 0;
    padding: .0625rem 1.875rem;
    border-radius: .625rem;
    color: var(--three-color-text);
    background-color: var(--secondary-color-text);
}

/*---- Estilos Table Asignatura ----*/

.course-container,
.legend-container,
.student-container {
    margin: 1.60rem;
    padding: 1.5rem 2.5rem;
}

.course-table,
.legend-table,
.student-table {
    width: 100%;
    border-collapse: collapse;
}

.course-table td,
.legend-table td,
.student-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.row-header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.course-table .row-sky {
    background-color: #CADEE5;
}

.course-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.course-table tr:hover {
    background-color: #ddd;
}

.cell-weight {
    font-weight: 600;
}

/*---- Estilos Table Leyenda ----*/

.legend-table .row-green {
    background-color: #C3DAC1;
}

/*---- Estilos Table Students ----*/

.student-table .row-gray {
    background-color: #E8E8E8;
}

.student-table  tr:hover {
    background-color: #ddd;
}

/*---- Estilos boton upload ----*/

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

input[type= "file"] {
    display: none;
}

.label-upload {
    padding: .9375rem 2rem;
    border: 2px dashed #62779A;
    border-radius: 0.5rem;
    color: #62779A;
    font-weight: 600;
    cursor: pointer;
}

.label-upload:hover {
    background-color: #edeef0;
}

