:root {
  --header-color-background : #073645;
  --primary-color-background : #056483;
  --secondary-color-background : #CADEE5;
  --primary-color-text : #000000;
  --secondary-color-text : #3E5575;
  --three-color-text: #FFFFFF;
}

